body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stock-list {
  height: 100%;
}

.chart-view {
  height: 800px;
  border-left: .75px solid #eee;
}

.header-content {
  padding-top: 12px;
}

.live-chart {
  margin-top: -14px;
  height: 600px;
}

.single-stock {
  height: 95px;
  text-align: center;
  padding-top: 25px;
}

.logo-sec {
  padding-top: 26px;
}

.search-bar {
  font-size: 20px;
  height: 50px;
  margin: 12px 0px 0px 16px;
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.stock-info {
  font-size: 24px;
}
.view-btn-section {
  margin-top: 30px;
}

.view-btns {
  border: .75px solid #eee;
}
